@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    margin: 0px;
    padding: 0px;
  }
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
img {
    height: 200px;
    border-radius: 40%;
}
nav {
    border: 10px #559BD9;
    padding: 16px;
    background-color: #5B5A8C;
}

#footer-color {
    background-color: #559BD9;
}

a:hover {
    color: #F2BB9B;
}

main a:hover {
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #5B5A8C;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: #5B5A8C;
    background-color: white;
    border-radius: 20%;
    width: 150px;
    margin: auto;
}

h3 {
    font-family: 'Dancing Script', cursive;
    background-color: white;
    border-radius: 10%;
    width: 100px;
    margin: auto;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background: radial-gradient(#5B5A8C, #559BD9, #F2DBAE,
    #F2BB9B, #D9A79C);
    text-align: center;
}

main a {
    color: #5B5A8C;
}

.rating {
    color: #5B5A8C;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    background-color: white;
    border-radius: 10%;
    width: 80px;
    margin: auto;
}

table {
    text-align: center;
}
